<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head th:replace="common/header :: common-header">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title></title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/apple-touch-icon.png" />
</head>

<body>
	<div th:replace="common/header :: navbar"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div class=" d-flex justify-content-between">
					<h4>Dominic Bonney</h4>				
					<button class="btn btn-info" style="float:right;"  data-backdrop="static" data-toggle="modal" data-target="#findStaff">Find Staff</button>
			</div>
		</div>
		
		<!-- modal or pup-up to find staff  -->
		<div class="modal" id="findStaff">
			<div class="modal-dialog modal-sm">
				<div class="modal-content" >
					<div class="modal-header" style="background-color:#000033;">
						<button class="close" data-dismiss="modal">
		                   <span> &times; </span>
		                </button>
						<h3>Find Staff</h3>
					</div>
					<div class="modal-body">
						<div class="card-body">
							<form>
								<label>Staff ID</label>
								<div class="form-group">
									<input type="number" class="form-control"></input>
								</div>
								<input type="submit" value="Find" class="btn btn-lg btn-success"></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-8" style="margin-left:5px;">
				<div class="card">
					<div class="card-header">
						<h2 class="text-center">STAFF LIST</h2>
					</div>
					
					<div class="card-body">
						<table class="table table-striped w-100">
							<tr>
								<th>ID</th>
								<th>NAME</th>
								<th>POSITION</th>
								<th>ACTION</th>
							</tr>
							<tr>
								<td>01</td>
								<td>Dominic Bonney</td>
								<td>Acting Manager BSDU</td>
								<td><a href="#">appraise</a></td>
							</tr>
							<tr>
								<td>02</td>
								<td>Dominic Bonney</td>
								<td>Acting Manager BSDU</td>
								<td><a href="#">appraise</a></td>
							</tr>
							<tr>
								<td>03</td>
								<td>Dominic Bonney</td>
								<td>Acting Manager BSDU</td>
								<td><a href="#">appraise</a></td>
							</tr>
							<tr>
								<td>04</td>
								<td>Dominic Bonney</td>
								<td>Acting Manager BSDU</td>
								<td><a href="#">appraise</a></td>
							</tr>
						</table>
					</div>
				</div>
				
				<div class="card-body" style="margin-top:50px; background-color:#f1f1f1;">
					<div style="padding:18px;">
						<p><i>Total Staff</i> : <b>100</b></p>
						<p><i>Staff Completed</i> : <b>50</b></p>
						<p><i>Percentage</i> : <b>50%</b></p>
					</div>
				</div>
			</div>
			
			<div class="col-sm-2 col-sm-offset-1" style="background-color:#f1f1f1;">
				<div class="card">
					<h3 class="card-header">Processes</h3>
					<ul class="card-body">
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
						<li> This is just a basic intruction about the application</li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	<!-- Sidebar -->


	<!-- Page Content -->




	<div th:replace="common/header :: footer"></div>



	<div th:replace="common/header :: body-bottom-scripts"></div>




</body>

</html>